@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);









body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#header4-3m .mbr-section-lead {
  color: #31383d;
  font-family: 'Indie Flower', cursive;
  text-align: left;
}
#header4-3m .mbr-section-title {
  text-align: center;
  color: #404549;
  font-family: 'Slabo 27px', serif;
}
#features6-3 H4 {
  color: #ffffff;
}
#features6-3 P {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#content1-y DIV {
  text-align: center;
  font-size: 48px;
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
}
#social-buttons4-3h .mbr-section-title,
#social-buttons4-3h .btn-social {
  color: #fff;
}
#social-buttons4-3h .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
  font-family: 'Oswald', sans-serif;
}
#menu-1x .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1x .navbar-caption {
  color: #ffffff;
}
#menu-1x .navbar-toggler {
  color: #ffffff;
}
#menu-1x .close-icon::before,
#menu-1x .close-icon::after {
  background-color: #ffffff;
}
#menu-1x .link,
#menu-1x .dropdown-item {
  color: #ffffff;
}
#menu-1x .link {
  font-size: 0.75rem;
}
#menu-1x .dropdown-item,
#menu-1x .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1x .link:hover,
#menu-1x .dropdown-item:hover,
#menu-1x .link:focus,
#menu-1x .dropdown-item:focus {
  color: #c0a375;
}
#menu-1x .link[aria-expanded="true"],
#menu-1x .dropdown-menu {
  background: #7bbcf0;
}
#menu-1x .nav-dropdown-sm .link:focus,
#menu-1x .nav-dropdown-sm .link:hover,
#menu-1x .nav-dropdown-sm .dropdown-item:focus,
#menu-1x .nav-dropdown-sm .dropdown-item:hover {
  background: #9bccf3!important;
}
#menu-1x .navbar,
#menu-1x .nav-dropdown-sm,
#menu-1x .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1x .nav-dropdown-sm .dropdown-menu {
  background: #a9d3f5;
}
#menu-1x .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1x .bg-color.transparent.opened .link:hover,
#menu-1x .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1x .link[aria-expanded="true"],
#menu-1x .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts3-3g STRONG {
  color: #ffffff;
}
#contacts3-3g H4 {
  color: #ffffff;
}
#contacts3-3g SPAN {
  color: #ffffff;
}
#contacts3-3g P {
  color: #ffffff;
}
#contacts1-9 STRONG {
  color: #d9e9f5;
}
#footer1-3j P {
  color: #ffffff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}
#form1-11 .form-control-label {
  color: #232323;
}
#form1-11 SMALL {
  color: #43bce7;
}
#form1-11 .mbr-section-title {
  color: #43bce7;
}
#contacts1-z STRONG {
  color: #d9e9f5;
}
#menu-1x .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1x .navbar-caption {
  color: #ffffff;
}
#menu-1x .navbar-toggler {
  color: #ffffff;
}
#menu-1x .close-icon::before,
#menu-1x .close-icon::after {
  background-color: #ffffff;
}
#menu-1x .link,
#menu-1x .dropdown-item {
  color: #ffffff;
}
#menu-1x .link {
  font-size: 0.75rem;
}
#menu-1x .dropdown-item,
#menu-1x .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1x .link:hover,
#menu-1x .dropdown-item:hover,
#menu-1x .link:focus,
#menu-1x .dropdown-item:focus {
  color: #c0a375;
}
#menu-1x .link[aria-expanded="true"],
#menu-1x .dropdown-menu {
  background: #7bbcf0;
}
#menu-1x .nav-dropdown-sm .link:focus,
#menu-1x .nav-dropdown-sm .link:hover,
#menu-1x .nav-dropdown-sm .dropdown-item:focus,
#menu-1x .nav-dropdown-sm .dropdown-item:hover {
  background: #9bccf3!important;
}
#menu-1x .navbar,
#menu-1x .nav-dropdown-sm,
#menu-1x .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1x .nav-dropdown-sm .dropdown-menu {
  background: #a9d3f5;
}
#menu-1x .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1x .bg-color.transparent.opened .link:hover,
#menu-1x .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1x .link[aria-expanded="true"],
#menu-1x .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}


#header3-45 .mbr-section-title,
#header3-45 .mbr-section-subtitle {
  text-align: center;
}
#header3-45 H3 {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
}
#header3-42 .mbr-section-title,
#header3-42 .mbr-section-subtitle {
  text-align: center;
}
#header3-42 H3 {
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
  color: #ffffff;
}
#contacts1-23 STRONG {
  color: #d9e9f5;
}
#menu-1x .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1x .navbar-caption {
  color: #ffffff;
}
#menu-1x .navbar-toggler {
  color: #ffffff;
}
#menu-1x .close-icon::before,
#menu-1x .close-icon::after {
  background-color: #ffffff;
}
#menu-1x .link,
#menu-1x .dropdown-item {
  color: #ffffff;
}
#menu-1x .link {
  font-size: 0.75rem;
}
#menu-1x .dropdown-item,
#menu-1x .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1x .link:hover,
#menu-1x .dropdown-item:hover,
#menu-1x .link:focus,
#menu-1x .dropdown-item:focus {
  color: #c0a375;
}
#menu-1x .link[aria-expanded="true"],
#menu-1x .dropdown-menu {
  background: #7bbcf0;
}
#menu-1x .nav-dropdown-sm .link:focus,
#menu-1x .nav-dropdown-sm .link:hover,
#menu-1x .nav-dropdown-sm .dropdown-item:focus,
#menu-1x .nav-dropdown-sm .dropdown-item:hover {
  background: #9bccf3!important;
}
#menu-1x .navbar,
#menu-1x .nav-dropdown-sm,
#menu-1x .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1x .nav-dropdown-sm .dropdown-menu {
  background: #a9d3f5;
}
#menu-1x .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1x .bg-color.transparent.opened .link:hover,
#menu-1x .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1x .link[aria-expanded="true"],
#menu-1x .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts1-28 STRONG {
  color: #d9e9f5;
}
#menu-1x .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1x .navbar-caption {
  color: #ffffff;
}
#menu-1x .navbar-toggler {
  color: #ffffff;
}
#menu-1x .close-icon::before,
#menu-1x .close-icon::after {
  background-color: #ffffff;
}
#menu-1x .link,
#menu-1x .dropdown-item {
  color: #ffffff;
}
#menu-1x .link {
  font-size: 0.75rem;
}
#menu-1x .dropdown-item,
#menu-1x .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1x .link:hover,
#menu-1x .dropdown-item:hover,
#menu-1x .link:focus,
#menu-1x .dropdown-item:focus {
  color: #c0a375;
}
#menu-1x .link[aria-expanded="true"],
#menu-1x .dropdown-menu {
  background: #7bbcf0;
}
#menu-1x .nav-dropdown-sm .link:focus,
#menu-1x .nav-dropdown-sm .link:hover,
#menu-1x .nav-dropdown-sm .dropdown-item:focus,
#menu-1x .nav-dropdown-sm .dropdown-item:hover {
  background: #9bccf3!important;
}
#menu-1x .navbar,
#menu-1x .nav-dropdown-sm,
#menu-1x .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1x .nav-dropdown-sm .dropdown-menu {
  background: #a9d3f5;
}
#menu-1x .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1x .bg-color.transparent.opened .link:hover,
#menu-1x .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1x .link[aria-expanded="true"],
#menu-1x .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts1-2i STRONG {
  color: #d9e9f5;
}
#menu-1x .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1x .navbar-caption {
  color: #ffffff;
}
#menu-1x .navbar-toggler {
  color: #ffffff;
}
#menu-1x .close-icon::before,
#menu-1x .close-icon::after {
  background-color: #ffffff;
}
#menu-1x .link,
#menu-1x .dropdown-item {
  color: #ffffff;
}
#menu-1x .link {
  font-size: 0.75rem;
}
#menu-1x .dropdown-item,
#menu-1x .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1x .link:hover,
#menu-1x .dropdown-item:hover,
#menu-1x .link:focus,
#menu-1x .dropdown-item:focus {
  color: #c0a375;
}
#menu-1x .link[aria-expanded="true"],
#menu-1x .dropdown-menu {
  background: #7bbcf0;
}
#menu-1x .nav-dropdown-sm .link:focus,
#menu-1x .nav-dropdown-sm .link:hover,
#menu-1x .nav-dropdown-sm .dropdown-item:focus,
#menu-1x .nav-dropdown-sm .dropdown-item:hover {
  background: #9bccf3!important;
}
#menu-1x .navbar,
#menu-1x .nav-dropdown-sm,
#menu-1x .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1x .nav-dropdown-sm .dropdown-menu {
  background: #a9d3f5;
}
#menu-1x .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1x .bg-color.transparent.opened .link:hover,
#menu-1x .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1x .link[aria-expanded="true"],
#menu-1x .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts1-2m STRONG {
  color: #d9e9f5;
}
#menu-2n .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2n .navbar-caption {
  color: #ffffff;
}
#menu-2n .navbar-toggler {
  color: #ffffff;
}
#menu-2n .close-icon::before,
#menu-2n .close-icon::after {
  background-color: #ffffff;
}
#menu-2n .link,
#menu-2n .dropdown-item {
  color: #ffffff;
}
#menu-2n .link {
  font-size: 0.75rem;
}
#menu-2n .dropdown-item,
#menu-2n .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2n .link:hover,
#menu-2n .dropdown-item:hover,
#menu-2n .link:focus,
#menu-2n .dropdown-item:focus {
  color: #c0a375;
}
#menu-2n .link[aria-expanded="true"],
#menu-2n .dropdown-menu {
  background: #7bbcf0;
}
#menu-2n .nav-dropdown-sm .link:focus,
#menu-2n .nav-dropdown-sm .link:hover,
#menu-2n .nav-dropdown-sm .dropdown-item:focus,
#menu-2n .nav-dropdown-sm .dropdown-item:hover {
  background: #9bccf3!important;
}
#menu-2n .navbar,
#menu-2n .nav-dropdown-sm,
#menu-2n .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2n .nav-dropdown-sm .dropdown-menu {
  background: #a9d3f5;
}
#menu-2n .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2n .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2n .bg-color.transparent.opened .link:hover,
#menu-2n .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2n .link[aria-expanded="true"],
#menu-2n .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts1-2r STRONG {
  color: #d9e9f5;
}
#menu-2s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2s .navbar-caption {
  color: #ffffff;
}
#menu-2s .navbar-toggler {
  color: #ffffff;
}
#menu-2s .close-icon::before,
#menu-2s .close-icon::after {
  background-color: #ffffff;
}
#menu-2s .link,
#menu-2s .dropdown-item {
  color: #ffffff;
}
#menu-2s .link {
  font-size: 0.75rem;
}
#menu-2s .dropdown-item,
#menu-2s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2s .link:hover,
#menu-2s .dropdown-item:hover,
#menu-2s .link:focus,
#menu-2s .dropdown-item:focus {
  color: #c0a375;
}
#menu-2s .link[aria-expanded="true"],
#menu-2s .dropdown-menu {
  background: #7bbcf0;
}
#menu-2s .nav-dropdown-sm .link:focus,
#menu-2s .nav-dropdown-sm .link:hover,
#menu-2s .nav-dropdown-sm .dropdown-item:focus,
#menu-2s .nav-dropdown-sm .dropdown-item:hover {
  background: #9bccf3!important;
}
#menu-2s .navbar,
#menu-2s .nav-dropdown-sm,
#menu-2s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2s .nav-dropdown-sm .dropdown-menu {
  background: #a9d3f5;
}
#menu-2s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2s .bg-color.transparent.opened .link:hover,
#menu-2s .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2s .link[aria-expanded="true"],
#menu-2s .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts1-2d STRONG {
  color: #d9e9f5;
}
#menu-1x .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1x .navbar-caption {
  color: #ffffff;
}
#menu-1x .navbar-toggler {
  color: #ffffff;
}
#menu-1x .close-icon::before,
#menu-1x .close-icon::after {
  background-color: #ffffff;
}
#menu-1x .link,
#menu-1x .dropdown-item {
  color: #ffffff;
}
#menu-1x .link {
  font-size: 0.75rem;
}
#menu-1x .dropdown-item,
#menu-1x .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1x .link:hover,
#menu-1x .dropdown-item:hover,
#menu-1x .link:focus,
#menu-1x .dropdown-item:focus {
  color: #c0a375;
}
#menu-1x .link[aria-expanded="true"],
#menu-1x .dropdown-menu {
  background: #7bbcf0;
}
#menu-1x .nav-dropdown-sm .link:focus,
#menu-1x .nav-dropdown-sm .link:hover,
#menu-1x .nav-dropdown-sm .dropdown-item:focus,
#menu-1x .nav-dropdown-sm .dropdown-item:hover {
  background: #9bccf3!important;
}
#menu-1x .navbar,
#menu-1x .nav-dropdown-sm,
#menu-1x .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1x .nav-dropdown-sm .dropdown-menu {
  background: #a9d3f5;
}
#menu-1x .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1x .bg-color.transparent.opened .link:hover,
#menu-1x .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1x .link[aria-expanded="true"],
#menu-1x .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}



#msg-box8-3x .mbr-section-title,
#msg-box8-3x p {
  color: #fff;
}
#msg-box8-3x .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#msg-box8-3x .lead {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
}
#header3-40 .mbr-section-title,
#header3-40 .mbr-section-subtitle {
  text-align: center;
}
#header3-40 H3 {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
}
#menu-3n .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3n .navbar-caption {
  color: #ffffff;
}
#menu-3n .navbar-toggler {
  color: #ffffff;
}
#menu-3n .close-icon::before,
#menu-3n .close-icon::after {
  background-color: #ffffff;
}
#menu-3n .link,
#menu-3n .dropdown-item {
  color: #ffffff;
}
#menu-3n .link {
  font-size: 0.75rem;
}
#menu-3n .dropdown-item,
#menu-3n .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-3n .link:hover,
#menu-3n .dropdown-item:hover,
#menu-3n .link:focus,
#menu-3n .dropdown-item:focus {
  color: #c0a375;
}
#menu-3n .link[aria-expanded="true"],
#menu-3n .dropdown-menu {
  background: #7bbcf0;
}
#menu-3n .nav-dropdown-sm .link:focus,
#menu-3n .nav-dropdown-sm .link:hover,
#menu-3n .nav-dropdown-sm .dropdown-item:focus,
#menu-3n .nav-dropdown-sm .dropdown-item:hover {
  background: #9bccf3!important;
}
#menu-3n .navbar,
#menu-3n .nav-dropdown-sm,
#menu-3n .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3n .nav-dropdown-sm .dropdown-menu {
  background: #a9d3f5;
}
#menu-3n .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3n .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3n .bg-color.transparent.opened .link:hover,
#menu-3n .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-3n .link[aria-expanded="true"],
#menu-3n .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#footer1-37 P {
  color: #ffffff;
}




#msg-box8-4d .mbr-section-title,
#msg-box8-4d p {
  color: #fff;
}
#header4-48 .mbr-section-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
}
#header4-48 .mbr-section-lead {
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
}
#msg-box8-4g .mbr-section-title,
#msg-box8-4g p {
  color: #fff;
}
#menu-2z .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2z .navbar-caption {
  color: #ffffff;
}
#menu-2z .navbar-toggler {
  color: #ffffff;
}
#menu-2z .close-icon::before,
#menu-2z .close-icon::after {
  background-color: #ffffff;
}
#menu-2z .link,
#menu-2z .dropdown-item {
  color: #ffffff;
}
#menu-2z .link {
  font-size: 0.75rem;
}
#menu-2z .dropdown-item,
#menu-2z .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2z .link:hover,
#menu-2z .dropdown-item:hover,
#menu-2z .link:focus,
#menu-2z .dropdown-item:focus {
  color: #c0a375;
}
#menu-2z .link[aria-expanded="true"],
#menu-2z .dropdown-menu {
  background: #7bbcf0;
}
#menu-2z .nav-dropdown-sm .link:focus,
#menu-2z .nav-dropdown-sm .link:hover,
#menu-2z .nav-dropdown-sm .dropdown-item:focus,
#menu-2z .nav-dropdown-sm .dropdown-item:hover {
  background: #9bccf3!important;
}
#menu-2z .navbar,
#menu-2z .nav-dropdown-sm,
#menu-2z .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2z .nav-dropdown-sm .dropdown-menu {
  background: #a9d3f5;
}
#menu-2z .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2z .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2z .bg-color.transparent.opened .link:hover,
#menu-2z .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2z .link[aria-expanded="true"],
#menu-2z .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#social-buttons4-41 .mbr-section-title,
#social-buttons4-41 .btn-social {
  color: #fff;
}
#social-buttons4-41 .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
  font-family: 'Oswald', sans-serif;
}
#header3-46 .mbr-section-title,
#header3-46 .mbr-section-subtitle {
  text-align: center;
}
#header3-46 H3 {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
